openapi-generator/generation/out/aspnet/.openapi-generator-ignore
openapi-generator/generation/out/aspnet/build.bat
openapi-generator/generation/out/aspnet/build.sh
openapi-generator/generation/out/aspnet/Org.OpenAPITools.sln
openapi-generator/generation/out/aspnet/README.md
openapi-generator/generation/out/aspnet/.openapi-generator/FILES
openapi-generator/generation/out/aspnet/.openapi-generator/VERSION
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/.gitignore
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Org.OpenAPITools.csproj
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Org.OpenAPITools.nuspec
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Attributes/ValidateModelStateAttribute.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Authentication/ApiAuthentication.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Controllers/AssetAdministrationShellRepositoryAPIApi.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Controllers/DescriptionAPIApi.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Controllers/SerializationAPIApi.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Converters/CustomEnumConverter.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Formatters/InputFormatterStream.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/AasSubmodelElements.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/AbstractLangString.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/AdministrativeInformation.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/AdministrativeInformationAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/AnnotatedRelationshipElement.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/AnnotatedRelationshipElementAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/AnnotatedRelationshipElementMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/AnnotatedRelationshipElementValue.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/AssetAdministrationShell.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/AssetAdministrationShellAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/AssetInformation.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/AssetKind.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/BaseOperationResult.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/BaseOperationResultAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/BasicEventElement.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/BasicEventElementAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/BasicEventElementMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/BasicEventElementMetadataAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/BasicEventElementValue.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Blob.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/BlobAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/BlobMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/BlobValue.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Capability.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/CapabilityAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/CapabilityMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ConceptDescription.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ConceptDescriptionAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/DataElement.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/DataElementChoice.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/DataSpecificationContent.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/DataSpecificationContentChoice.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/DataSpecificationIec61360.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/DataSpecificationIec61360AllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/DataTypeDefXsd.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/DataTypeIec61360.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Direction.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/EmbeddedDataSpecification.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Entity.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/EntityAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/EntityMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/EntityType.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/EntityValue.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Environment.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/EventElement.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ExecutionState.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Extension.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ExtensionAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/File.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/FileAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/FileMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/FileValue.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/GetAssetAdministrationShellsResult.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/GetAssetAdministrationShellsResultAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/GetPathItemsResult.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/GetPathItemsResultAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/GetReferencesResult.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/GetReferencesResultAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/GetSubmodelElementsMetadataResult.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/GetSubmodelElementsMetadataResultAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/GetSubmodelElementsResult.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/GetSubmodelElementsResultAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/GetSubmodelElementsValueResult.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/GetSubmodelElementsValueResultAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/HasDataSpecification.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/HasExtensions.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/HasKind.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/HasSemantics.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Identifiable.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/IdentifiableAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Key.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/KeyTypes.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/LangStringDefinitionTypeIec61360.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/LangStringNameType.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/LangStringNameTypeAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/LangStringPreferredNameTypeIec61360.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/LangStringPreferredNameTypeIec61360AllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/LangStringShortNameTypeIec61360.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/LangStringShortNameTypeIec61360AllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/LangStringTextType.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/LangStringTextTypeAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/LevelType.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Message.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ModellingKind.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ModelType.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/MultiLanguageProperty.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/MultiLanguagePropertyAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/MultiLanguagePropertyMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Operation.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/OperationAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/OperationMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/OperationRequest.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/OperationRequestValueOnly.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/OperationResult.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/OperationResultAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/OperationResultValueOnly.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/OperationResultValueOnlyAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/OperationVariable.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/PagedResult.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/PagedResultPagingMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Property.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/PropertyAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/PropertyMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/PropertyValue.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Qualifiable.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Qualifier.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/QualifierAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/QualifierKind.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Range.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/RangeAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/RangeMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/RangeValue.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Referable.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ReferableAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Reference.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ReferenceAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ReferenceElement.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ReferenceElementAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ReferenceElementMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ReferenceElementValue.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ReferenceParent.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ReferenceTypes.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ReferenceValue.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/RelationshipElement.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/RelationshipElementAbstract.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/RelationshipElementAbstractAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/RelationshipElementAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/RelationshipElementMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/RelationshipElementValue.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Resource.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Result.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ServiceDescription.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SpecificAssetId.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SpecificAssetIdAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/StateOfEvent.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/Submodel.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelElement.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelElementAttributes.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelElementChoice.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelElementCollection.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelElementCollectionAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelElementCollectionMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelElementList.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelElementListAllOf.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelElementListMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelElementMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelElementValue.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelMetadata.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/SubmodelValue.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ValueList.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/Models/ValueReferencePair.cs
openapi-generator/generation/out/aspnet/src/Org.OpenAPITools/OpenApi/TypeExtensions.cs
